@import 'antd/dist/reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, sans-serif;
}

#__next {
  min-height: 100vh;
}

.ant-layout {
  background: var(--background) !important;
  min-height: 100vh;
}

.ant-layout-content {
  min-height: calc(100vh - 64px);
}
